ul {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}
li {
  padding: 2rem 4rem;
}
.navButton {
  background: transparent;
  font-size: 2rem;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  text-transform: capitalize;
  align-items: center;
}
